body {
  margin: 0;
  display: flex;
  font-family: "Rubik", sans-serif;
  background: #111;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h3 {
  font-weight: 400;
}

body {
  min-height: 100vh;
  background-image: url(./images/1311165.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  transition: 500ms;
  opacity: 1;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

#root {
  width: 100%;
}
